<div class="center jumbotron">
  <h1>Shortlink URL Generator</h1>

  <h2>
    This is the home page of the Shortlink URL Generator by Sam Duncan
  </h2>
  
  <h3>URL Shortlinks:</h3>
  
  <div class="table-div">
    <table>
      <thead>
        <th class="shorturl"> Short URL /</th>
        <th class="longurl"> Long URL /</th>
        <th colspan="3"> URL Actions </th>
      </thead>
      <div class="table-content">
        <tbody>
          Shortlinks will go here
        </tbody>
      </div>
    </table>
  </div>

</div>